<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name="dev.local.kakaolinkcapture.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity="dev.local.kakaolinkcapture.settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="android.app.NativeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:intentMatchingFlags="enforceIntentFilter"
            android:noHistory="true"
            android:taskAffinity="">
            <meta-data
                android:name="android.app.lib_name"
                android:value="capture" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="send"
                    android:scheme="kakaolink" />
            </intent-filter>
        </activity>
    </application>
</manifest>
